#the_div_of_input{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
#input{
    display: flex;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 100px;
    font-weight: 600;
    font-size:xx-large ;
    justify-content: center;
};
#seven{
    width: 200px;

};
#seven{
    display: flex;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 70px;
    justify-content: center;
    background-color: brown;
    margin-top: 10px;
    margin-left: 320px;
};