h1,h3{
    color: aquamarine;
    text-align: center;
}
h3{
    color: red;
}
#player{
   border: 2px, gray, solid;
   align-items: center;
   display: flex;
}
#computer{
    border: 2px, gray, solid;
}
