@font-face{
    font-family: my_font;
    src: url(./Norse-Bold.otf);
}
body{
    display: flex;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div_img{
    background-image:url(./photo-1585202900225-6d3ac20a6962.avif);
    background-size: 200%;
    height: 100vh;
    width: 40%;
}
.logo{
    background-color: rgba(0, 0, 0, 0.479);
    height: 150px;
    margin-top: 40vh;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.logo_name{
    color: white;
    font-size: 100px;
    font-family: my_font; 
    margin-left: 50px;
    margin-right: 50px;   

}
.div_forum{
    width: 60%;
}
p{
    font-size: x-large;
    padding-left: 50px;
    font-weight: bolder;
}
.forum{
    padding-left: 50px;
}
.information{
    display: flex;

}
.second{
    padding-left: 50px;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 5%;
    border: gray solid 1px;
}
    input:invalid{
        border-color: red;
    }
.shadows{
    background-image: linear-gradient(rgb(223, 222, 222), white);
    margin-top: 25px;
    margin-bottom: 25px;
    height: 15px;
    width: 100%;
}
button{
    padding : 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    background-color: #596d48;
    color: white;
    border: #596d48;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
.account{
    margin-top: 20px;
    font-size: larger;
    font-weight:600;
}
a{
    color: #596d48;
}